body{
	font-family: 'Amaranth', 'sans-serif';
	font-size: 16px;
	color: #776E65;
	background-color: #FAF8EF;
}

#tablero{
	background-color: black;
	width: 594px;
	height: 594px;
}

.casilla{
	width: 50px;
	height: 50px;
	background-color: white;
	border: 2px solid #000;
	float: left;
}
.margen{
	width: 50px;
	height: 50px;
	background-color: #B45F04;
	border: 2px solid #B45F04;
	float: left;
	color: white;
	font-size: 2em;
	text-align: center;
}

#c44{
	align-content: center;
	background-color: #000000;
}
#c44, .verde, .rojo, .amarillo, .azul{
	width: 50px;
	height: 50px;
}
#c44{
	background-image: url("imagenes djambi/presidencia.png");
}
